{% extends "parent.html" %} {% block main %}
<style>
	body {
		background: #F0F5F9;
	}
	.form-control {
		color: black;
	}
</style>

<div id="fh5co-started">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading" style="background: url(" https://scontent-sof1-1.xx.fbcdn.net/v/t31.0-8/18700850_1973473942939230_442467036601347300_o.jpg?_nc_cat=0&oh=de89caa33517e0c01143258ba718d578&oe=5BE9557F
			 ")">
				<h2>Family Hope Autisim</h2>
				<a href="https://vimeo.com/channels/staffpicks/93951774" class="link-watch popup-vimeo">Watch Video</a>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor
					eius.
				</p>
				<p>
					<button type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal">Donate</button>
				</p>
				<span>Galati, Romania</span>
			</div>
		</div>
	</div>
</div>

<div class="detail-page">
	<div class="row">
		<div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 ngo-description">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="#home">About us</a>
				</li>
				<li>
					<a data-toggle="tab" href="#menu1">Organization details</a>
				</li>
				<li>
					<a data-toggle="tab" href="#menu2">Pending donations</a>
				</li>
				<li>
					<a data-toggle="tab" href="#menu3">Finished donations</a>
				</li>
			</ul>

			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum tempora quidem ratione aperiam rem magnam quis sequi!
						Repellendus magni labore vero consequuntur sint maxime sit fuga sunt accusantium perspiciatis architecto voluptates
						ea, harum voluptate numquam, assumenda voluptatibus natus iure. Maxime accusamus voluptates sed porro eum voluptatibus
						nisi autem rerum quaerat.

					</p>
				</div>
				<div id="menu1" class="tab-pane fade">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil enim dignissimos similique. Deleniti ipsa nam pariatur
						animi laboriosam, adipisci id quibusdam nesciunt sunt a maiores earum quas incidunt ab praesentium veniam ut aliquam
						exercitationem assumenda recusandae suscipit ad eos! Voluptas harum eligendi et ipsum tempora molestias earum ipsa
						assumenda quos!</p>
				</div>
				<div id="menu2" class="tab-pane fade">
					<p>About pending donations consectetur adipisicing elit. Nihil enim dignissimos similique. Deleniti ipsa nam pariatur animi
						laboriosam, adipisci id quibusdam nesciunt sunt a maiores earum quas incidunt ab praesentium veniam ut aliquam exercitationem
						assumenda recusandae suscipit ad eos! Voluptas harum eligendi et ipsum tempora molestias earum ipsa assumenda quos!</p>
				</div>
				<div id="menu3" class="tab-pane fade">
					<p>About finished donations ipsum dolor sit amet consectetur adipisicing elit. Nihil enim dignissimos similique. Deleniti
						ipsa nam pariatur animi laboriosam, adipisci id quibusdam nesciunt sunt a maiores earum quas incidunt ab praesentium
						veniam ut aliquam exercitationem assumenda recusandae suscipit ad eos! Voluptas harum eligendi et ipsum tempora molestias
						earum ipsa assumenda quos!</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 ngo-timeline ">
			<div class="event">
				<h1>Christmas party</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque molestias voluptates quod.
				</p>
			</div>
			<div class="event">
				<h1>Event </h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque molestias voluptates quod.
				</p>
			</div>
			<div class="vl"></div>
		</div>
		<!-- LightWidget WIDGET -->
		<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
		<iframe src="//lightwidget.com/widgets/186acf908dab506dbff65dfc5bc0cd67.html" scrolling="no" allowtransparency="true" class="lightwidget-widget"
		 style="width:100%;border:0;overflow:hidden;"></iframe>

	</div>
</div>

<!-- Modal -->
<div class="modal fade {% if messages.errors %} in {% endif %}" id="myModal" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel"
{% if messages.errors %}
style="display: block; padding-left: 0px;"
{% else %}
style="display: none;"
{% endif %}
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Donation form</h4>
			</div>
			<div class="modal-body">
				<h5>{{ messages.warning }}</h5>

				{% for error in messages.errors %}
				<h5 style="color:red"> {{ error.msg }}</h5>{% endfor %}
				<form method="POST" action="/donate" name="donateForm">

					<div class="row form-group">
						<div class="col-md-6">
							<label for="donationAmount">Donation Amount</label>
							<input type="number" id="donationAmount" name="amount" class="form-control" placeholder="223">
						</div>
						<div class="col-md-6">
							<label for="donationCurrency">Currency</label>
							<input type="text" id="donationCurrency" name="currency" class="form-control" placeholder="$$">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label for="compName" class="white">Full Name</label>
							<input type="text" id="compName" name="companyName" class="form-control" placeholder="Full name">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label for="compEmail" class="white">Email address</label>
							<input type="email" id="compEmail" name="companyEmail" class="form-control" placeholder="Email address">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label for="compAddress" class="white">Wallet address</label>
							<input type="text" id="compAddress" name="walletAddress" class="form-control" placeholder="Your address">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label for="compCountry" class="white">Country</label>
							<input type="text" id="compCountry" name="companyCountry" class="form-control" placeholder="Country">
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" id="sendButton" class="btn btn-primary">Complete donation</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
