{% extends "parent.html" %} {% block main %}
<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeInUp">
						<h3 class="white">NGO Edit page</h3>

						<h5>{{ messages.warning }}</h5>

						{% for error in messages.errors %}
						<h5> {{ error }}</h5>{% endfor %}

						<form method="POST" action="/auth/signup" @submit.prevent="startAudit">
							<div class="row form-group col-md-6">
								<div>
									<label for="organization" class="white">Organization</label>
									<input type="text" id="organization" name="organization" class="form-control" placeholder="Your NGO name">
								</div>
							</div>

							<div class="row form-group col-md-6">
								<div>
									<label for="ngoType" class="white">Charity Type</label>
									<input type="text" id="ngoType" name="ngoType" class="form-control" placeholder="Your NGO charity type. Eg: Environmental Charities">
								</div>
							</div>

							<div class="row form-group col-md-6">
								<div>
									<label for="phone" class="white">Phone Number</label>
									<input type="number" id="phone" name="phone" class="form-control" placeholder="Your phone number">
								</div>
							</div>

							<div class="row form-group col-md-6">
								<div>
									<label for="website" class="white">Website</label>
									<input type="text" id="website" name="website" class="form-control" placeholder="Your website">
								</div>
							</div>

							<div class="row form-group col-md-6">
									<div>
										<label for="wallet" class="white">Wallet ID</label>
										<input type="text" id="wallet" name="wallet" class="form-control" placeholder="Your wallet ID">
									</div>
								</div>

							<div class="row form-group col-md-6">
								<div class="">
									<label for="email" class="white">Email</label>
									<input type="email" id="email" name="email" class="form-control" placeholder="Your email address">
								</div>
							</div>

							<div class="row form-group col-md-6">
									<div>
										<label for="description" class="white">Description</label>
										<textarea class="form-control" id="description" name="description" rows="5" placeholder="Your NGO description"></textarea>
									</div>
								</div>

							<div class="form-group">
								<input type="submit" value="Save" class="btn btn-lg btn-primary">
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}