{% extends "parent.html" %}

{% block main %}
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_1.jpg);"
	 data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp">
							<h3 class="white">Sign in</h3>
							<form method="POST" action="/auth/signin">
								<h5>{{ messages.warning }}</h5>
								{% for error in messages.errors %}<h5> {{ error }}</h5>{% endfor %}

								<div class="row form-group">
									<div class="col-md-12">
										<label for="email" class="white">Email</label>
										<input type="text" id="email" name="email" class="form-control" placeholder="Your email address">
									</div>
								</div>

								<div class="row form-group">
									<div class="col-md-12">
										<label for="email" class="white">Password</label>
										<input type="password" id="email" name="password" class="form-control" placeholder="Your password">
									</div>
								</div>

								<div class="form-group">
									<input type="submit" value="Sign in" class="btn btn-lg btn-primary">
								</div>

								<a href="/signup">Don't have an account? Click here to sign up.</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock  %}
